body {
  --white: #FFFFFF;
  --offset: #CCCCCE;
  --brand-green: #36CA94;
  --light-grey: #62676A;
  --medium-grey: #424752;
  --dark-grey: #212329;

  background-color: var(--dark-grey);
  color: var(--white);
}

.App {
  text-align: center;
  height: 500vh;
}

h2 {
  margin: 5px 0;
  font-size: 18px;
  text-transform: uppercase;
}
h3 {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}